# User data
payload/data/settings.json
payload/music/*.mp3
payload/music/*.wav
# Keep the default demo track
!payload/music/Hak5-Pager.mp3
!payload/music/brAinphreAk - PineApple PAger.mp3

# Python cache
__pycache__/
*.pyc
